@import url('https://unpkg.com/@tailwindcss/typography@0.4.x/dist/typography.min.css');
@import url('https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

.sans-serif {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name {
  font-size: 150px;
}